In [1]:
import pandas as pd
import utils
import seaborn as sns
import matplotlib.pyplot as plt

In [4]:
df_tot = pd.DataFrame()
for uc in [1,2,3]:
    print("====================== 1 MILION ITERATIONS======================")
    print(f"USE CASE {uc}")
    df = pd.read_csv(f"../processed-datasets/sa-1-milion/sa-uc{uc}-1-milion.csv",index_col=0)# ["time_seconds_mean"].mean()
    df["n_jobs"] = df.apply(lambda row: utils.int_number_of_jobs(row["instance"]), axis=1)
    df["size"] = df.apply(lambda row: utils.instance_size(row["instance"]), axis=1)
    df_tot = pd.concat([df_tot, df])
    display(df[["size","time_seconds_mean"]].groupby("size").mean())
    display(df[["size","time_seconds_mean"]].groupby("size").std())

    # df = utils.create_csv(f"../entire-results/results-4-neighborhoods/results-irace-uc{uc}-construction").query("neighb == 'all'")
    # df["n_jobs"] = df.apply(lambda row: utils.number_of_jobs(row["instance"]), axis=1)
    # df["size"] = df.apply(lambda row: utils.instance_size(row["instance"]), axis=1)
    # display(df[["size","time_seconds"]].groupby("size").mean())
    # display(df[["size","time_seconds"]].groupby("size").std())
print("====================== 1 MILION ITERATIONS======================")
print(f"TOTAL")
display(df_tot["time_seconds_mean"].mean())
display(df_tot["time_seconds_mean"].std())
display(df_tot[["size","time_seconds_mean"]].groupby("size").mean())
display(df_tot[["size","time_seconds_mean"]].groupby("size").std())

====================== 1 MILION ITERATIONS======================
USE CASE 1

        time_seconds_mean
size
large           96.715101
medium          20.277443
small            8.693490

        time_seconds_mean
size
large           38.518553
medium           7.941386
small            3.812527

====================== 1 MILION ITERATIONS======================
USE CASE 2

        time_seconds_mean
size
large           94.750635
medium          19.463840
small            8.892798

        time_seconds_mean
size
large           40.945422
medium           8.326209
small            3.721933

====================== 1 MILION ITERATIONS======================
USE CASE 3

        time_seconds_mean
size
large           87.488673
medium          18.127490
small            7.335649

        time_seconds_mean
size
large           34.898292
medium           6.199995
small            2.756260

====================== 1 MILION ITERATIONS======================
TOTAL

40.19390208888889

43.832037566882214

        time_seconds_mean
size
large           92.984803
medium          19.289591
small            8.307312

        time_seconds_mean
size
large           38.088290
medium           7.535177
small            3.503733

In [4]:
mean = df_tot[["n_jobs","time_seconds_mean"]].groupby("n_jobs").mean().reset_index()
std = df_tot[["n_jobs","time_seconds_mean"]].groupby("n_jobs").std().reset_index().rename(columns={"time_seconds_mean":"std"})
ddddf = pd.merge(mean,std)

In [5]:
fig, ax = plt.subplots(1,1)
sns.lineplot(data=df, x="n_jobs", y="time_seconds_mean", sort=True, errorbar=('sd', 1),ax=ax)
plt.show()
plt.savefig(f"time.pdf",)

/var/folders/tm/vk6plqp1543cptt9z15vkbk40000gn/T/ipykernel_18700/2130105640.py:3: UserWarning: FigureCanvasAgg is non-interactive, and thus cannot be shown
  plt.show()

In [4]:
for uc in [1,2,3]:
    print("====================== 5 MILION ITERATIONS======================")
    print(f"USE CASE {uc}")
    df = pd.read_csv(f"../processed-datasets/sa-5-milioni/sa-uc{uc}-5-milion.csv",index_col=0)# ["time_seconds_mean"].mean()
    df["n_jobs"] = df.apply(lambda row: utils.number_of_jobs(row["instance"]), axis=1)
    df["size"] = df.apply(lambda row: utils.instance_size(row["instance"]), axis=1)
    display(df[["size","time_seconds_mean"]].groupby("size").mean())
    display(df[["size","time_seconds_mean"]].groupby("size").std())

====================== 5 MILION ITERATIONS======================
USE CASE 1

        time_seconds_mean
size
large          508.689943
medium         105.741410
small           46.853518

        time_seconds_mean
size
large          204.248609
medium          41.690849
small           18.326265

====================== 5 MILION ITERATIONS======================
USE CASE 2

        time_seconds_mean
size
large          453.174135
medium          98.071365
small           44.652358

        time_seconds_mean
size
large          194.786843
medium          38.249462
small           18.136010

====================== 5 MILION ITERATIONS======================
USE CASE 3

        time_seconds_mean
size
large          466.796342
medium          95.870748
small           40.009636

        time_seconds_mean
size
large          175.295298
medium          36.238398
small           15.500993